

.players-container{
    display: flex;
    justify-content: center;
}

.p1-form,
.p2-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}



.p1-form-header,
.p2-form-header{
    text-align: center;
}

.symbols-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn{
    width: fit-content;
}


#radios label {
	position: relative;
}

svg {
	color: blue;
	height: 2rem;
	width: 2rem;
	margin: 0.2rem;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[class="x-radio"]:checked + svg,
input[class="x-radio"]:hover + svg,
input[class="x-radio"]:focus + svg
input[class="o-radio"]:checked + svg,
input[class="o-radio"]:hover + svg,
input[class="o-radio"]:focus + svg{
    color: blueviolet;
}


#cells-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 2rem;
}

.cell{
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}

.cell[data-column="1"],
.cell[data-column="2"]{
    border-right: 0.5px solid black;
}

.cell[data-row="1"],
.cell[data-row="2"]{
    border-bottom: 0.5px solid black;
}