.players-info-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 8rem;
}

.p1-info-container,
.p2-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.end-page{
    display:none;
}

.end-page.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container{
    display: none;
}

.board-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1-display-name,
.p2-display-name{
    font-size: 2rem;
}

.start-screen-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.start-screen-container.hide{
    display: none;
}

.start-screen-headers-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: default;
}

.p1-form.active,
.p2-form.active,
.p-vs-ai-container.active,
.p-vs-p-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}


.p1-form,
.p2-form,
.p-vs-ai-container,
.p-vs-p-container{
    display: none;
}

.p1-form-header,
.p2-form-header{
    text-align: center;
}

.symbols-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn{
    width: fit-content;
}


#radios label {
	position: relative;
}

svg {
	color: black;
	height: 2rem;
	width: 2rem;
	margin: 0.2rem;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[class="x-radio"]:checked + svg,
input[class="x-radio"]:hover + svg,
input[class="x-radio"]:focus + svg
input[class="o-radio"]:checked + svg,
input[class="o-radio"]:hover + svg,
input[class="o-radio"]:focus + svg{
    color: blueviolet;
}


#cells-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 2rem;
}

.cell{
    position: relative;
    z-index: 1;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    position: relative;
}

.cell[data-column="0"],
.cell[data-column="1"]{
    border-right: 0.5px solid black;
}

.cell[data-row="0"],
.cell[data-row="1"]{
    border-bottom: 0.5px solid black;
}